@import "tailwindcss";

/* 自訂表格樣式 */
.log-container {
  @apply flex-1 h-full border rounded p-2 bg-gray-50 overflow-auto;
  scroll-behavior: smooth;
}
.log-textarea {
  @apply whitespace-pre-wrap select-text cursor-text;
}
.log-textarea table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.log-textarea th,
.log-textarea td {
  border: 1px solid #ccc;
  padding: 4px 8px;
  text-align: left;
}

.log-textarea th {
  background-color: #f5f5f5;
  font-weight: bold;
}